body{
    font-family: 'Courier New';
    margin: 0;
    background: white
}


/* Navbar */
.Navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 1rem 2rem;
}

